Repository beacon-biosignals/OndaEDF.jl: changes, and which Codecov flags are due for each by the changed paths.
All: ondaedf, ondaedfschemas

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
      ondaedf:
        flags:
          - ondaedf
      ondaedfschemas:
        flags:
          - ondaedfschemas

comment: off

flags:
  ondaedf:
    paths:
      - 'src/**'
  ondaedfschemas:
    paths:
      - 'OndaEDFSchemas.jl/src/**'

build based on 08fc5c4
  previews/PR51/index.html
  previews/PR51/search/index.html
Due: none

automatic flag management, clearer names
  .github/workflows/CI-OndaEDFSchemas.yml
  .github/workflows/CI.yml
  codecov.yml
Due: none

build based on 7157762
  previews/PR51/index.html
  previews/PR51/search/index.html
Due: none

is this enough?
  codecov.yml
Due: none

build based on 95a6921
  previews/PR51/index.html
  previews/PR51/search/index.html
Due: none

maybe this is necessary?
  codecov.yml
Due: none

build based on 36fc87a
  previews/PR51/index.html
  previews/PR51/search/index.html
Due: none

Create separate OndaEDFSchemas sub-package (#51)
  .github/workflows/CI-OndaEDFSchemas.yml
  OndaEDFSchemas.jl/Project.toml
  OndaEDFSchemas.jl/src/OndaEDFSchemas.jl
  OndaEDFSchemas.jl/test/runtests.jl
  codecov.yml
Due: ondaedfschemas

build based on 377180a
  dev/index.html
  dev/search/index.html
Due: none

add compat license
  OndaEDFSchemas.jl/LICENSE.md
  OndaEDFSchemas.jl/Project.toml
Due: none

package name
  OndaEDFSchemas.jl/LICENSE.md
Due: none

build based on 15d15e2
  previews/PR52/assets/documenter.js
  previews/PR52/assets/search.js
  previews/PR52/assets/themes/documenter-dark.css
  previews/PR52/assets/themes/documenter-light.css
  previews/PR52/assets/themeswap.js
  previews/PR52/index.html
  previews/PR52/search/index.html
  previews/PR52/search_index.js
  previews/PR52/siteinfo.js
Due: none

copyright date
  LICENSE.md
  OndaEDFSchemas.jl/LICENSE.md
Due: none

Add license and julia compat for OndaEDFSchemas.jl (#52)
  OndaEDFSchemas.jl/LICENSE.md
  OndaEDFSchemas.jl/Project.toml
Due: none

build based on 2151a82
  previews/PR52/index.html
  previews/PR52/search/index.html
Due: none

build based on d6d66e6
  dev/index.html
  dev/search/index.html
Due: none

add OndaEDFSchemas
  Project.toml
Due: none

remove schemas
  Project.toml
  src/OndaEDF.jl
Due: ondaedf

update README
  README.md
Due: none

build based on 0f44e97
  previews/PR53/assets/documenter.js
  previews/PR53/assets/search.js
  previews/PR53/assets/themes/documenter-dark.css
  previews/PR53/assets/themes/documenter-light.css
  previews/PR53/assets/themeswap.js
  previews/PR53/index.html
  previews/PR53/search/index.html
  previews/PR53/search_index.js
  previews/PR53/siteinfo.js
Due: none

build based on d6bc236
  previews/PR53/index.html
  previews/PR53/search/index.html
Due: none

will this make my flags work?
  codecov.yml
Due: none

build based on 776f2b6
  previews/PR53/index.html
  previews/PR53/search/index.html
Due: none

Use registered OndaEDFSchemas (#53)
  Project.toml
  README.md
  codecov.yml
  src/OndaEDF.jl
Due: ondaedf

build based on 735c285
  dev/index.html
  dev/search/index.html
  dev/search_index.js
Due: none

build based on 735c285
  stable
  v0.10
  v0.10.2/assets/documenter.js
  v0.10.2/assets/search.js
  v0.10.2/assets/themes/documenter-dark.css
  v0.10.2/assets/themes/documenter-light.css
  v0.10.2/assets/themeswap.js
  v0.10.2/index.html
  v0.10.2/search/index.html
  v0.10.2/search_index.js
  v0.10.2/siteinfo.js
Due: none

ad EDFAnnotation schema
  OndaEDFSchemas.jl/src/OndaEDFSchemas.jl
Due: ondaedfschemas

use EDFAnnotation in place of Onda.Annotation
  OndaEDFSchemas.jl/Project.toml
  Project.toml
  src/export_edf.jl
  src/import_edf.jl
  test/export.jl
  test/import.jl
  test/runtests.jl
Due: ondaedf

pkg develop OndaEDFSchemas in CI
  .github/workflows/CI.yml
Due: none

update docstring
  src/export_edf.jl
Due: ondaedf

anotehr docstring
  src/import_edf.jl
Due: ondaedf

docs
  docs/src/index.md
Due: none

maybe this will fix doc build?
  .github/workflows/Documentation.yml
Due: none

pwd
  .github/workflows/Documentation.yml
Due: none

build in docs project where we already have the schemas dev'd
  .github/workflows/Documentation.yml
Due: none

build based on b4f1533
  previews/PR55/assets/documenter.js
  previews/PR55/assets/search.js
  previews/PR55/assets/themes/documenter-dark.css
  previews/PR55/assets/themes/documenter-light.css
  previews/PR55/assets/themeswap.js
  previews/PR55/index.html
  previews/PR55/search/index.html
  previews/PR55/search_index.js
  previews/PR55/siteinfo.js
Due: none

Ignore `-org` as a signal suffix
  src/import_edf.jl
  test/signal_labels.jl
Due: ondaedf

build based on c52e05f
  previews/PR57/assets/documenter.js
  previews/PR57/assets/search.js
  previews/PR57/assets/themes/documenter-dark.css
  previews/PR57/assets/themes/documenter-light.css
  previews/PR57/assets/themeswap.js
  previews/PR57/index.html
  previews/PR57/search/index.html
  previews/PR57/search_index.js
  previews/PR57/siteinfo.js
Due: none

Fix typo/extra space with the `etco2` channel name
  src/standards.jl
Due: ondaedf

build based on 0e6c216
  previews/PR58/assets/documenter.js
  previews/PR58/assets/search.js
  previews/PR58/assets/themes/documenter-dark.css
  previews/PR58/assets/themes/documenter-light.css
  previews/PR58/assets/themeswap.js
  previews/PR58/index.html
  previews/PR58/search/index.html
  previews/PR58/search_index.js
  previews/PR58/siteinfo.js
Due: none
